*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
:root{
    --bg-utama:#416ce2;
    --bg-sec: #f1c7ab;
    
}
body{
    margin: 0px;
    height: 500vh;
    background-color:whitesmoke;
    width: 100%;
    padding: 0px;
       
}
.wrapper{
    width: 100%;
    position: relative;
    margin:auto;
}
.logo a{
    font-size: 70px;
    float: left;
    padding-left: 20px;
    position: sticky;
    font-weight: bold;
    font-family: impact;
    color: rgb(196, 25, 25);   
    
}
span{
    color: rgb(0, 0, 0);
    
}
.menu{
    float: right;

}
nav{width: 100%;
    margin: auto;
    display: flex;
    background-color: rgb(255, 255, 255);
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid black;

}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li{
    float: left;
    font-family: 'Bebas Neue Regular';
    font-size: 25px;

}
nav ul li a{
    color: rgb(5, 5, 5);
    text-align:center;
    background-color: rgb(196, 25, 25);
    border-radius: 10px;
    margin: 5px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(0, 0, 0);
}
section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.kolom-bakso{
    margin-bottom: 50px;
    margin-left: 20vh;
    margin-top: 80px;
    padding: 50px;
    
}
.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
}
p{font-size: 20px;
    font-family: 'comic sans ms';
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}
.tbl-biru{
    background-color: rgb(196, 25, 25);
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    font-weight: bold;
}
.tbl-biru:hover{
    background-color: rgb(7, 7, 7);
    text-decoration: underline;
    color: white;

}
img{
    width: 600px;
    height: 500px;
    margin-top: 50px;

}
h2{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bebas Neue Regular';
}

.kolom-type{
    width: 100%;
    padding: 50px;
    margin-top: 50px;
    
    
}
.deskripsi1{
    width: 100%;
    text-align: center;
}
section #type{
    width: 100%;
    position: relative;
    margin:auto;

}
.h22{
    text-align: center;
    margin-top: 30px;
    font-family:'Bebas Neue Regular';
}
.baksomnu{
    width: 100%;
    margin: auto;
    
}   
.gambarbkso{
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;
}
.gambarbkso img{
    width: 200px;
    height: 200px;
    margin: 30px;
    border-radius: 10px;}
    .tbl-order{
     background-color: black;  
     border-radius: 10px;
     padding: 10px;
     color: white;
     font-family: Arial;
     font-weight: bold;
    }
    .tbl-order:hover{
        background-color: rgb(196, 25, 25);
        color: black;
        cursor: pointer;
    }
