*{
    text-decoration: none;
    margin: 0px;
    padding: 0px;
}
:root{
    --bg-utama:#322653;
    --bg-sec: #8062D6;
    
}
body{
    margin: 0px;
    padding: 0px;
       
}
.wrapper{
    width: 1100px;
    position: relative;
    margin:auto;
}
.logo a{
    font-size: 70px;
    float: left;
    left: 1px;
    position: sticky;
    font-weight: bold;
    font-family: impact;
    color: rgb(204, 79, 79);    
}
span{
    color: rgb(16, 16, 17);
}
.menu{
    float: right;

}
nav{width: 100%;
    margin: auto;
    display: flex;
    background-color: white;
    line-height: 80px;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px solid black;

}
nav ul{
    list-style-type: none;
    margin: 0;
}
nav ul li{
    float: left;
    font-family: 'Bebas Neue Regular';
    font-size: 25px;
}
nav ul li a{
    color: black;
    text-align:center;
    background-color: white;
    border-radius: 10px;
    margin: 5px;
    padding: 15px 20px 15px 20px;
    text-decoration: none;
}
nav ul li a:hover{
    color: white;
    text-decoration: none;
    background-color: black;

}
section {
    margin: auto;
    display: flex;
    margin-bottom: 50px;
}
.kolom-bakso{
    margin-bottom: 50px;
    margin-left: 20vh;
    margin-top: 50px;
    padding: 20px;
}
.kolom .deskripsi{
    font-size: 20px;
    font-weight: bold;
    font-family: 'comic sans ms';
}
p{font-size: 15px;
    font-family: 'comic sans ms';
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 10px 0px;
}
.tbl-biru{
    background-color: rgb(196, 25, 25);
    color: black;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px 15px 10px 15px;
    cursor: pointer;
    font-weight: bold;
}
.tbl-biru:hover{
    background-color: palevioletred;
    text-decoration: underline;
    color: white;

}
img{
    width: 600px;
    height: 500px;
    top: 20px;

}
h2{
    font-size: 50px;
    font-weight: bold;
    font-family: 'Bebas Neue Regular';
}

.kolom-type{
    margin-left: 20px;
}